<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connected Deliveries</title>
      <link rel="icon" href="images/circle-cropped.png" type="image/icon type">
  <link rel='stylesheet' href='/styles/utils/bootstrap.css'>
  <link rel="stylesheet" href="/styles/utils/googleFonts.css">
  <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/utils/bootstrap-clockpicker.css">
  <style>
      
      #outerBody{
          background-image: linear-gradient(to bottom right,#00dbde,#fc00ff);
          background-repeat: no-repeat;
          background-size: cover; 
          height:100%;
      }
      #mainBody{
          padding:20px;
          padding-top : 30px;
      }
      #submitButton{
          text-align: center;
          margin-right: auto;
          margin-left: auto;
          display: block;
      }
        
fieldset
{
  color: white;
  padding:16px;
  border: none;	
}
legend
{
  color: black; 
}

@media (min-width:767px){
  #mainBody{
      padding-left: 20%;
  }
  #deliveries{
  margin: 50px;
  margin-bottom: 0em;
}
}

#time{
  color:#FEE715FF;
  background-color: #101820FF;
  padding: 5px;
}

 @media (max-width:360px){
   #rejectButton{
     margin-top: 5px;
   }
 }


  </style>
</head>

<body class="dark">	
  
{{>header}}

<script>
    document.getElementById("service").className = "nav-item pl-4 pl-md-0 ml-0 ml-md-4 active"
    
    fetch('/login/check',{
      method:'post',
    }).then(function(response){
      if(response.ok){
        var username = document.getElementById("username");
        var login = document.getElementById("login")

         response.json().then(function(data){
          if(data.user){
            username.textContent = data.user;
            username.href = "/profile";
            login.textContent = "logout"
            login.href = "#"; 

          login.addEventListener("click",function(){
            fetch('/logout',{
              method:'post'
            }).then(function(result){
              if(!result.ok){
                throw new Error()
              }
              window.location.href = "/login"
            }).catch(function(err){
              window.location.href = "/login" 
            })
          }); 

          } 
           
        })
      }else{
        throw new Error();
      }
        
    }).catch(function(err){
       window.location.href = "/login";
    });

</script>

<div id="outerBody">
  <div id="mainBody">
    
  <form id="deliveryForm">

        <fieldset>

            <legend>Deliver</legend>


            <div class="form-group row">
                <label for="Location" class="col-sm-2 col-form-label">Select your location</label>
                <div class="col-md-4">
                <select id="location" class="form-control">
                    <option>Jalandhar</option>
                    <option>Amritsar</option>
                </select>    
                </div>
            </div>

            <div class="form-group row">
                <label for="From" class="col-sm-2 col-form-label">From(visiting place)</label>
                <div class="col-md-4">
                <select id="from" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>    
                </div>
            </div>

            <p id="fromMessage" style="display: none; color:red;">From and to address cannot be same</p>

            <div class="form-group row">
                <label for="To" class="col-sm-2 col-form-label">To(current location)</label>
                <div class="col-md-4">
                <select id="to" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>    
                </div>
            </div>

        

<div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-4">
                <input id="dates" class="form-control" type="date" name="dates"  required>
                </div>
            </div>

            <div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label">Time</label>
                <div class="col-sm-4">
                  <div class="input-group clockpicker">
                    <input id="time" type="text" class="form-control" value="09:30">
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                    </span>
	                 </div>
                </div>
            </div>

           <div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label">Charge</label>
                <div class="col-sm-4">
                   <input id="charge" class="form-control" type="text" placeholder="40" value="40" readonly>
                </div>
            </div>

        <div class="form-group row">
            <div class="col-sm-6">
            <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

     </fieldset>

   
</form>



</div>

        <fieldset id="deliveries" style="display: none;">

                  <legend id="deliveryLegend">Available Deliveries are</legend>
                  <div id="deliveryInfo" class="table-responsive">
                    <table class="table" id="deliveryTable" data-toggle="tooltip" data-placement="top" title="Click on the usernames to get the item details">
                      <thead>
                        <tr>
                          <th>username</th>
                        </tr>
                      </thead>
                      <tbody id="deliveryBody">
                        {{!-- <tr>
                          <td colspan="2"><p>John</p>
                            <table class="table table-dark table-hover">
                              <tr>
                                <td>biscuit</td>
                                <td>3</td>
                              </tr>
                              <tr>
                                  <td>cream</td>
                                  <td>2</td>
                              </tr>
                              <tr>
                                  <td>choclate</td>
                                  <td>2</td>
                              </tr>
                            </table>
                          </td>
                          <td><button type="button" class="btn btn-success">Accept</button>&nbsp;<button id="rejectButton" type="button" class="btn btn-danger">Reject</button></td>
                        </tr> --}}

                        
                      </tbody>
                    </table>
                  </div>
                <p id="deliveryMessage" style="display: none; text-align: center;">Currently no deliveries are Available. Please try again later.
                 <a onclick="display()">Click here</a> to fill a new form</p>
          </fieldset>


</div>



</body>

<script>


  function display(){
    console.log('display')
    document.getElementById("deliveryForm").style.display = "";
    document.getElementById("deliveryMessage").style.display = "none"; 
    document.getElementById("deliveries").style.display = "none";
  }

  var date = new Date();

        document.getElementById("dates").min = fullDate(date);
    document.getElementById("dates").value = fullDate(date);

    document.addEventListener("submit",function(e){
      e.preventDefault();
      var location = document.getElementById("location").value;
      var from = document.getElementById("from").value;
      var to = document.getElementById("to").value;
      var date = document.getElementById("dates").value;
      var time = document.getElementById("time").value;
      var charge = document.getElementById("charge").value;

      if(from === to)
      {
        document.getElementById("fromMessage").style.display = "";
        return;
      }

      console.log(location,from,to,date,time,charge)

      fetch('/deliver',{
          method:'post',
          headers: {
	    		'Content-Type': 'application/json'
			    },
          body:JSON.stringify({location,from,to,date,time,charge})
      }).then(function(response){
                document.getElementById("fromMessage").style.display = "none";
          var deliveryTable = document.getElementById("deliveryBody");
           deliveryTable.innerHTML = '';
         if(response.ok){
           alert('submitted successfully')
           response.json().then(function(text){
             var i = 0;
             var itemTable;
             text.forEach(function(element){
               console.log('element',element);
               itemTable =  `<tr><td colspan="2"><p>`
                                         + element.username + ' - ' + element.itemList.length + ' items' + '</p><table class="table table-dark table-hover" style="display:none;">';

               itemTable += `<p id="time">Time - ${element.time}</p>`  

               element.itemList.forEach(function(item){
                 itemTable +=  `<tr><td>${item.name}</td><td>${item.qty}</td></tr>`
               })

               itemTable += '</table></td><td><button type="button" class="btn btn-success">Request</button>' 
                                         + '&nbsp;<button id="rejectButton" type="button" class="btn btn-danger">Reject</button></td></tr>';
            
               deliveryTable.innerHTML += itemTable;
             })

             evalItemList();
             document.getElementById("deliveries").style.display  = "";
             document.getElementById("deliveryForm").style.display = "none";
           })
         }
      }).catch(function(err){
        alert('An error has occured');
      })

      })

      var deliveryTable = document.getElementById("deliveryBody");

      function evalItemList(){

        if(deliveryTable.children.length === 0)
        {
          document.getElementById("deliveryInfo").style.display  = "none";
          document.getElementById("deliveryLegend").style.display  = "none";
          document.getElementById("deliveryMessage").style.display = "";
          console.log('return')
          return;
        }
        console.log('returnhjjhjh')
          document.getElementById("deliveryMessage").style.display = "none"; 

         for(var i = 0; i < deliveryTable.children.length; i++)
         {
           console.log('jbh',deliveryTable.children[i].getElementsByTagName("p")[0])
           deliveryTable.children[i].getElementsByTagName("p")[0].onclick = getItemList.bind(this,i);
           deliveryTable.children[i].getElementsByTagName("button")[1].onclick = delUser.bind(this,i);
           deliveryTable.children[i].getElementsByTagName("button")[0].onclick = webPush.bind(this,i);
         }
      }

      function webPush(i){
          var name = deliveryTable.children[i].getElementsByTagName("p")[0].textContent; 
          name = name.slice(0,name.lastIndexOf('-')-1)
          console.log(name);

           fetch('/deliveryRequested',{
             method:'post',
             headers: {
              'Content-Type': 'application/json'
              },
            body:JSON.stringify({name})
           }).then(function(response){
              if(response.ok){
                delUser(i);
                alert('Notification was sent');
              }
           })
          
      }

      function delUser(i){
        console.log('reject',i)
        deliveryTable.children[i].remove();
        evalItemList();
      }

      function getItemList(i){
         var userItems =  deliveryTable.children[i].getElementsByTagName("table")[0];
         if(userItems.style.display === ""){
           userItems.style.display = "none"
         }else{
           userItems.style.display = "";
         }
      }

// Date function  
function fullDate(date)
  {
    var minDate = date.getFullYear() + '-';
      var temp;
      if(date.getMonth() + 1 < 10)
      {
        temp = date.getMonth() + 1;
        minDate += "0" + temp + "-";
      }else{
        minDate += temp + "-";
      }
      if(date.getDate()  < 10)
      {
        minDate += "0" + date.getDate();
      }else{
        minDate += date.getDate();
      }
     return minDate;
  }

  
</script>

      <script src="/javascript/utils/jquery.js"></script>
      <script src="/javascript/utils/bootstrap-clockpicker.js"></script>
      <script src='/javascript/utils/bootstrap.js'></script>
<script>


        $('.clockpicker').clockpicker({
		          donetext: 'Done'
          });
    </script>

</html>