<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connected Deliveries</title>
      <link rel="icon" href="images/circle-cropped.png" type="image/icon type">
  <link rel='stylesheet' href='/styles/utils/bootstrap.css'>
  <link rel="stylesheet" href="/styles/utils/googleFonts.css">
  <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/utils/bootstrap-clockpicker.css">
  <style>
      
      #outerBody{
          background-image: linear-gradient(to bottom right,#00dbde,#fc00ff);
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;   
      }
      #mainBody{
          padding:20px;
          padding-top : 30px;
      }
      #submitButton{
          text-align: center;
          margin-right: auto;
          margin-left: auto;
          display: block;
      }
        
fieldset
{
  color: white;
  padding:16px;
  border: none;	
}
legend
{
  color: black; 
}

@media (min-width:767px){
  #mainBody{
      padding-left: 20%;
  }
}

  </style>
</head>

<body class="dark">	
  
{{>header}}

<div id="outerBody">
  <div id="mainBody">
    
  <form>

        <fieldset>

            <legend>Deliver</legend>


            <div class="form-group row">
                <label for="Location" class="col-sm-2 col-form-label">Select your location</label>
                <div class="col-md-4">
                <select class="form-control">
                    <option>Jalandhar</option>
                </select>    
                </div>
            </div>
            <div class="form-group row">
                <label for="From" class="col-sm-2 col-form-label">From</label>
                <div class="col-md-4">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>    
                </div>
            </div>
            <div class="form-group row">
                <label for="To" class="col-sm-2 col-form-label">To</label>
                <div class="col-md-4">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>    
                </div>
            </div>

        

<div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-4">
                <input id="dates" class="form-control" type="date" name="dates" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label">Time</label>
                <div class="col-sm-4">
                  <div class="input-group clockpicker">
		     <input type="text" class="form-control" value="09:30">
		     <span class="input-group-addon">
			   <span class="glyphicon glyphicon-time"></span>
		     </span>
	        </div>
                </div>
            </div>

            {{!-- <div class="input-group clockpicker">
		     <input type="text" class="form-control" value="09:30">
		     <span class="input-group-addon">
			   <span class="glyphicon glyphicon-time"></span>
		     </span>
	        </div> --}}
             


        <div class="form-group row">
                <label for="dates" class="col-sm-2 col-form-label">Charge</label>
                <div class="col-sm-4">
        <input class="form-control" type="text" placeholder="40" readonly>
                </div>
            </div>

        <div class="form-group row">
            <div class="col-sm-6">
            <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

     </fieldset>

   
</form>
</div>
 

</div>



</body>

  <script src="/javascript/utils/jquery.js"></script>
      <script src="/javascript/utils/bootstrap-clockpicker.js"></script>
      <script src='/javascript/utils/bootstrap.js'></script>
<script>

  document.getElementById("service").className = "nav-item pl-4 pl-md-0 ml-0 ml-md-4 active"

        $('.clockpicker').clockpicker({
		donetext: 'Done'

	});

    var date = new Date();

    document.getElementById("dates").min = fullDate(date);
  

    function fullDate(date)
  {
    var minDate = date.getFullYear() + '-';
      var temp;
      if(date.getMonth() + 1 < 9)
      {
        temp = date.getMonth() + 1;
        minDate += "0" + temp + "-";
      }else{
        minDate += temp + "-";
      }
      if(date.getDate() + 1 < 9)
      {
        minDate += "0" + date.getDate();
      }else{
        minDate += date.getDate();
      }
     return minDate;
  }
    </script>

</html>