<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connected Deliveries</title>
      <link rel="icon" href="/images/circle-cropped.png" type="image/icon type">
  <link rel='stylesheet' href='/styles/utils/bootstrap.css'>
  <link rel="stylesheet" href="/styles/utils/googleFonts.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/notification.css">
  <style>
    #outerBody{
          background-image: linear-gradient(to bottom right,#00dbde,#fc00ff);
          height: 511px;
          background-repeat: no-repeat;
          background-size: cover;   
      }

      #notifications{
        margin-right: 100px;
      }
  </style>
</head>

<body class="dark">	
  
{{>header}}

<div id="outerBody">kjbkbj</div>

<script>
      document.getElementById("home").className = "nav-item pl-4 pl-md-0 ml-0 ml-md-4 active"
      
          fetch('/login/check',{
      method:'post',
    }).then(function(response){
      if(response.ok){
        var username = document.getElementById("username");
        var login = document.getElementById("login")

         response.json().then(function(data){
          if(data.user){
            username.textContent = data.user;
            username.href = "/profile";
            login.textContent = "logout"
            login.href = "#";

            login.addEventListener("click",function(){
            fetch('/logout',{
              method:'post'
            }).then(function(result){
              if(!result.ok){
                throw new Error()
              }
              window.location.href = "/login"
            }).catch(function(err){
              window.location.href = "/login" 
            })
          }); 
          } 
           
        })
      }else{
        throw new Error();
      }
        
    }).catch(function(err){
       window.location.href = "/login";
    });

     //Web Push notifications

      const publicVapidKey = 'BEUKKprV93HSM_kvIvKn9-XGbz8ioi1idf02Ta27LRKfJ0KUTfuvx0gikP-PtabmhLLQJWp398exTepv4BXyyKw';

			if('serviceWorker' in navigator){
				send().catch(err => alert('errr'))
			}
      notifyMe();
   
			async function send(){
				console.log('Registering service worker...')
				const register = await navigator.serviceWorker.register('/javascript/utils/worker.js',{
					scope:'/javascript/utils/'
				});

				const subscription = await register.pushManager.subscribe({
					userVisibleOnly : true,
					applicationServerKey : urlBase64ToUint8Array(publicVapidKey)
				});

				await fetch('/subscribe',{
					method:'post',
					body:JSON.stringify(subscription),
					headers:{
						'content-type':'application/json'
					}
				});
			}


			function urlBase64ToUint8Array(base64String) {
				const padding = '='.repeat((4 - base64String.length % 4) % 4);
				const base64 = (base64String + padding)
				.replace(/-/g, '+')
				.replace(/_/g, '/');
			
				const rawData = window.atob(base64);
				const outputArray = new Uint8Array(rawData.length);
			
				for (let i = 0; i < rawData.length; ++i) {
				outputArray[i] = rawData.charCodeAt(i);
				}
				return outputArray;
			}

     
    function notifyMe() {
      if (!("Notification" in window)) {
            alert("This browser does not support desktop notifications");
      }
      else if (Notification.permission === "") {
        Notification.requestPermission().then(function (permission) {
        });
      }
      else if (Notification.permission === "denied") {
        Notification.requestPermission().then(function (permission) {
        });
      }else{
      }
    }
</script>

</body>


<script src="./javascript/utils/jquery.js"></script>
<script src='./javascript/utils/bootstrap.js'></script>

</html>