<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connected Deliveries</title>
      <link rel="icon" href="images/circle-cropped.png" type="image/icon type">
  <link rel='stylesheet' href='/styles/utils/bootstrap.css'>
  <link rel="stylesheet" href="/styles/utils/googleFonts.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/notification.css">
  <style>
    #outerBody{
          background-image: linear-gradient(to bottom right,#00dbde,#fc00ff);
          height: 511px;
          background-repeat: no-repeat;
          background-size: cover;   
      }

      #notifications{
        margin-right: 100px;
      }
  </style>
</head>

<body class="dark">	
  
{{>header}}

<div id="outerBody">kjbkbj</div>

<script>
      document.getElementById("home").className = "nav-item pl-4 pl-md-0 ml-0 ml-md-4 active"
      
          fetch('/login/check',{
      method:'post',
    }).then(function(response){
      if(response.ok){
        var username = document.getElementById("username");
        var login = document.getElementById("login")

         response.json().then(function(data){
          if(data.user){
            username.textContent = data.user;
            username.href = "/profile";
            login.textContent = "logout"
            login.href = "#";

            login.addEventListener("click",function(){
            fetch('/logout',{
              method:'post'
            }).then(function(result){
              if(!result.ok){
                throw new Error()
              }
              window.location.href = "/login"
            }).catch(function(err){
              window.location.href = "/login" 
            })
          }); 
          } 
           
        })
      }else{
        throw new Error();
      }
        
    }).catch(function(err){
       window.location.href = "/login";
    });

</script>

</body>


<script src="./javascript/utils/jquery.js"></script>
<script src='./javascript/utils/bootstrap.js'></script>

</html>