<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connected Deliveries</title>
      <link rel="icon" href="/images/circle-cropped.png" type="image/icon type">
  <link rel='stylesheet' href='/styles/utils/bootstrap.css'>
  <link rel="stylesheet" href="/styles/utils/googleFonts.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/notification.css">
  <style>
    #outerBody{
          background-image: linear-gradient(to bottom right,#00dbde,#fc00ff);
          background-repeat: no-repeat;
          background-size: cover;   
      }

      #mainBody{
          padding:20px;
          padding-top : 30px;
      }

      #notifications{
        margin-right: 100px;
      }

      #notifMessage{
        text-align: center;
      }
      
      @media (max-width:360px){
   #rejectButton{
     margin-top: 5px;
   }
 }

    @media (min-width:767px){
  
   #notification{
  margin: 30px;
  margin-bottom: 0em;
}
}

 hr{
   background-color: white;
 }


  </style>
</head>

<body class="dark">	
  
{{>header}}


<script>
      document.getElementById("notif").className = "nav-item pl-4 pl-md-0 ml-0 ml-md-4 active"
      
          fetch('/login/check',{
      method:'post',
    }).then(function(response){
      if(response.ok){
        var username = document.getElementById("username");
        var login = document.getElementById("login")

         response.json().then(function(data){
          if(data.user){
            username.textContent = data.user;
            username.href = "/profile";
            login.textContent = "logout"
            login.href = "#";

            login.addEventListener("click",function(){
            fetch('/logout',{
              method:'post'
            }).then(function(result){
              if(!result.ok){
                throw new Error()
              }
              window.location.href = "/login"
            }).catch(function(err){
              window.location.href = "/login" 
            })
          }); 
          } 
           
        })
      }else{
        throw new Error();
      }
        
    }).catch(function(err){
       window.location.href = "/login";
    }); 

    
    
</script>

<div id="outerBody">

  <div id="mainBody">


            <fieldset id="notification">

              <p id="notifMessage" style="display: none;">You don't have any notifications</p>

                  <br>
                  <div id="notifInfo" class="table-responsive">
                    <table class="table" id="notifTable" data-toggle="tooltip" data-placement="top" title="Click on the usernames to get the item details">
                      {{!-- <thead>
                        <tr>
                          <th>username</th>
                        </tr>
                      </thead> --}}
                      <tbody id="notifBody">
                        {{!-- <tr>
                          <td colspan="2"><p>bhargav sent a request to deliver his items</p>
                            
                          </td>
                          <td><button type="button" class="btn btn-success">Accept</button>&nbsp;<button id="rejectButton" type="button" class="btn btn-danger">Reject</button></td>
                        </tr>
                        
                        <tr>
                          <td colspan="2"><p>Nakkina wants to deliver the items</p>
                          </td>
                          <td><button type="button" class="btn btn-success">Accept</button>&nbsp;<button id="rejectButton" type="button" class="btn btn-danger">Reject</button></td>
                        </tr>
                         --}}
                      </tbody>
                    </table>
                    <hr>
                  </div>
                <p id="deliveryMessage" style="display: none; text-align: center;">Currently no deliveries are Available. Please try again later.
                 <a onclick="display()">Click here</a> to fill a new form</p>
          </fieldset>

</div>
</div>


</body>


<script src="./javascript/utils/jquery.js"></script>
<script src='./javascript/utils/bootstrap.js'></script>

<script>
  fetch('/notification',{
      method:'post',
    }).then(function(response){

       var notifBody = document.getElementById("notifBody");

      if(response.ok){
        var notificationString = "";
        response.json().then(function(text){

          console.log(text.deliver)
     
        if(text.deliver)
          text.deliver.forEach((element) => {
            notificationString += `<tr><td colspan="2"><p id="del" name="${element.username}">${element.username} sent a request to deliver his items</p></td>` +
                          '<td><button type="button" class="btn btn-success">Accept</button>&nbsp;<button id="rejectButton" type="button" class="btn btn-danger">Reject</button></td></tr>'
          })

                    console.log(text.receive)

        if(text.receive)
          text.receive.forEach((element) => {
            notificationString += `<tr><td colspan="2"><p id="rec" name="${element.username}">${element.username} wants to deliver your items</p></td>` +
                          '<td><button type="button" class="btn btn-success">Accept</button>&nbsp;<button id="rejectButton" type="button" class="btn btn-danger">Reject</button></td></tr>'
          
          })

          if(text.delRejected){
            text.delRejected.forEach((element) => {
              console.log('delRejected',element)
              notificationString += `<tr><td colspan="2"><p id="delRej" name="${element.username}">${element.username} rejected your delivery request</p></td></tr>`;
            })
          }

          if(text.recRejected){
            text.recRejected.forEach((element) => {
              console.log('recRejected',element)
              notificationString += `<tr><td colspan="2"><p id="recRej" name="${element.username}">${element.username} rejected your request to deliver your items</p></td></tr>`;
            })
          }

          console.log('delAccepted',text.delAccepted)
          if(text.delAccepted){
            notificationString += `<tr><td colspan="2"><p id="delAcc" name="${text.delAccepted.username}">${text.delAccepted.username} accepted your delivery request</p></td></tr>`;
          }

          console.log('recAccepted',text.recAccepted)
          if(text.recAccepted){
            notificationString += `<tr><td colspan="2"><p id="recAcc" name="${text.recAccepted.username}">${text.recAccepted.username} accepted your request to deliver your items</p></td></tr>`;
          }
          
          notifBody.innerHTML = notificationString;
          evalItemList();

        })
      }
    });

      var notifBody = document.getElementById("notifBody");


    function evalItemList(){


        if(notifBody.children.length === 0)
        {
          document.getElementById("notifInfo").style.display  = "none";
          document.getElementById("notifMessage").style.display = "";
          console.log('return')
          return;
        }
        console.log('returnhjjhjh')
          document.getElementById("notifMessage").style.display = "none"; 

         for(var i = 0; i < notifBody.children.length; i++)
         {
           if(notifBody.children[i].getElementsByTagName("button")[1])
           {
             notifBody.children[i].getElementsByTagName("button")[1].onclick = delUser.bind(this,i);
                      console.log('jbh',notifBody.children[i].getElementsByTagName("button")[1])

           notifBody.children[i].getElementsByTagName("button")[0].onclick = webPush.bind(this,i);
         
           }
         }
      }

      function delUser(i){
        console.log('reject',i)

        var mode = notifBody.children[i].getElementsByTagName("p")[0].id
        var username = notifBody.children[i].getElementsByTagName("p")[0].getAttribute("name")

        console.log('mode',mode,'username',username)

        fetch('/rejected',{
          method:'post',
          headers:{
            'Content-type':'application/json'
          },
          body:JSON.stringify({mode,username})
        }).then(function(response){
          if(response.ok){
            notifBody.children[i].remove();
            evalItemList();
            alert('rejected successfully')
          }
        })

      }

      function webPush(i){
       
        var mode = notifBody.children[i].getElementsByTagName("p")[0].id
        var username = notifBody.children[i].getElementsByTagName("p")[0].getAttribute("name")

        console.log('mode',mode,'username',username)

           fetch('/accepted',{
             method:'post',
             headers: {
              'Content-Type': 'application/json'
              },
            body:JSON.stringify({username,mode})
           }).then(function(response){
              if(response.ok){
                notifBody.children[i].remove();
                evalItemList();
                alert('Notification was sent');
              }
           })
      }


</script>

</html>