<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connected Deliveries</title>
      <link rel="icon" href="images/circle-cropped.png" type="image/icon type">
  <link rel='stylesheet' href='/styles/utils/bootstrap.css'>
  <link rel="stylesheet" href="/styles/utils/googleFonts.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/utils/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/styles/utils/animate.css">
  <link rel="stylesheet" href="/styles/utils/loginUtil.css">
  <link rel="stylesheet" href="/styles/utils/loginMain.css">
  <style>
      .container-login100{
          background-image: linear-gradient(to bottom right,#00dbde,#fc00ff);
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;  
      }
  </style>
</head>

<body class="dark">	
  
{{>header}}

<div id="mainBody">
  
   	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
					<span class="login100-form-title p-b-48">
						<img src="images\circle-cropped.png">
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" name="name" required>
						<span class="focus-input100" data-placeholder="Name"></span>
					</div>

					<div class="wrap-input100 ">
						<input class="input100" type="email" name="email" required>
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>

					<div class="wrap-input100 ">
						<input type="number" class="input100" name="phoneNo"
    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
    maxlength = "10"
 />
						<span class="focus-input100" data-placeholder="Phone No"></span>
					</div>

					<div class="wrap-input100">
						<input class="input100" type="text" name="Upi" required>
						<span class="focus-input100" data-placeholder="UPI ID"></span>
					</div>

					<div class="wrap-input100" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
							<input class="input100" type="password" name="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="wrap-input100" data-validate="Enter re-password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
							<input class="input100" type="password" name="pass" required>
						<span class="focus-input100" data-placeholder="Re-type password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Register
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Already have an account?
						</span>

						<a class="txt2" href="/login">
							Sign In
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>


</body>

<script>

</script>

<script src="/javascript/utils/jquery.js"></script>
<script src='/javascript/utils/bootstrap.js'></script>
<script src="/javascript/utils/loginMain.js"></script>

</html>