  <header>

    <div id="header">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1 id="heading">Connected Deliveries</h1>
              </div>
              <div id="regLog" class="col-sm-6">
                <a id="username" href="./login.html" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-user"></span> Register
                  </a>
                  <a id="logout" href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-user"></span> LogIn
                  </a> 
              </div>
            </div>
          </div>

      </div>
  <div class="menuBar">
	<div class="navigation-wrap bg-light start-header start-style">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light">
					
						<a class="navbar-brand" href="#"><img src="./images/circle-cropped.png" alt=""></a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link"  href="/">Home</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="/deliver">Deliver</a>
                                                        <a class="dropdown-item" href="/receive">Receive</a>
                                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                    <a class="nav-link" href="/">Notifications</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                    <a class="nav-link" href="#">History</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                                    <a class="nav-link" href="#">Contact</a>
                                </li>
							</ul>
						</div>
						
					</nav>		
				</div>
			</div>
		</div>
    </div>
 </div>
</header>